<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AIS Collision Detection</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

<style>
body {
  margin:0;
  padding:0;
  overflow:hidden;
}
#left-panel {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:200px;
  background:#fff;
  z-index:9999;
  overflow:auto;
  padding:10px;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  left:200px;
  right:300px;
}
#right-panel {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:300px;
  background:#fff;
  z-index:9999;
  overflow:auto;
  padding:10px;
}

</style>
</head>
<body>
<div id="left-panel">
  <div id="left-panel-content"></div>
</div>
<div id="map"></div>
<div id="right-panel">
  <h2>Collisions</h2>
  <div id="collision-list"></div>
</div>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>